<div class="px-5 py-2 bg-footergray">
    <h1 class="my-3 text-primary font-bold"> CONTACT </h1>
    <div class="flex text-xs mb-4 items-center">
        <i class="fa-solid fa-phone mr-3 rounded-full bg-white p-2"></i>
        <a class=""> 06 18622370</a>
    </div>
    <div class="flex text-xs mb-4 items-center">
        <i class="fa-solid fa-envelope mr-3 rounded-full bg-white p-2"></i>
        <a class=""> {{ email }}  </a>
    </div>
    <div class="flex text-xs mb-4 items-center">
        <i class="fa-solid fa-location-dot mr-3 rounded-full bg-white p-2"></i>
        <a class=""> Marktstraat 8 8601 CT Sneek</a>
    </div>
</div>
