<p class="mx-5 mt-0.5 mb-5 text-gray-300 italic"> <a href="../"> Home </a> > <a href="/prijswijs"> PrijsWijs </a> > Opdracht 1 </p>

<app-slider />

<h1 class="ml-5 my-5 text-primary font-bold text-xl"> HUURWONING </h1>
<h2 class="ml-5 font-bold text-xl"> Peperstraat 1 A </h2>
<h3 class="ml-5 text-textgray"> 8911 HZ Leeuwarden || De Waag</h3>

<div class="flex ml-5 pt-3">
    <i class="fa-solid fa-bed text-xl text-textgray"></i>
    <p class="ml-3"> 2 <span class="text-textgray"> slaapkamers </span></p>
</div>
<div class="flex ml-5 pt-2">
    <i class="fa-solid fa-ruler text-xl text-textgray"></i> 
    <p class="ml-4">109 m² <span class="text-textgray"> wonen</span> </p>
</div>

<h2 class="ml-5 mt-10 font-bold text-xl"> Omschrijving </h2>
<p class="mx-5 text-textgray"> Ruime woning met twee slaapkamers. Bevind zich boven een Bakker Bart 
    in één van de drukste straten van Leeuwarden. Hier heb je een Albert Heijn, 
    Bakker Bart en meerdere kledingwinkels op minder dan 3 minuten loopafstand!
    <br><br>
    Met de mooie grote ramen kijk je uit over de 
    Nieuwestad van Leeuwarden en zal je je nooit hoeven vervelen.
</p>

<h2 class="ml-5 mt-10 mb-2 font-bold text-xl"> Van Binnen </h2>
<app-slider2 />


<h2 class="ml-5 mt-10 font-bold text-xl"> Plattegrond </h2>
<img src="../../assets/images/1/plattegrond.png" alt="Plattegrond" class="px-5 mt-2">

<h2 class="ml-5 mt-10 font-bold text-xl"> Huurkosten </h2>
<p class="mx-5 text-textgray"> 
    Wat zou je hier voor moeten betalen in de maand (exclusief gas/water/electriciteit)? Hieronder een aantal opties. 
    Kies de optie die jij denkt dat het best bij deze Fundb pagina past!
</p>

<app-inputfield />
