<p class="mx-5 mt-0.5 text-gray-300 italic"> <a href="../"> Home </a> > <a href="/prijswijs"> Valt het Kwartje </a> </p>

<h1 class="text-center font-extrabold text-primary text-3xl mx-5 py-5"> VALT HET KWARTJE </h1>
<p class="text-center mx-5 text-textgray"> 
    De gastdocenten van deze woningcorporaties staan in de startblokken 
    om aan de hand van een interactief programma jongeren mee te nemen in hun reis om huurder te worden. 
</p>

<div class="mx-5">
    <div class="mt-10 mb-72 relative h-40 overflow-hidden rounded-t-lg">
        <a href="/prijswijs">
          <img src="assets/images/Background.jpg" alt="Prijswijs" class="duration-75 hover:scale-105">
          <p class="text-white bg-primary bg-opacity-70 px-5 py-1 font-bold absolute bottom-0 w-full"> Start Spel </p>
        </a>
    </div> 
</div>