<div id="home" class="relative w-full h-72 overflow-hidden font-monsterat">
    <img class="w-full h-full object-cover object-left scale-150" src="assets/images/Background.jpg" alt="background_image">
    <div class="absolute inset-0 items-center">
        <p class="text-white text-3xl mx-5 my-12 font-bold">Ervaar op jezelf gaan met één van onze opdrachten</p>
        <a href="####" class="text-white text-xl mx-5 border-b-2">Probeer nu</a>
    </div>
</div>
  
  <h2 class="ml-5 mt-5 mb-2 font-bold text-primary"> OP JEZELF </h2>
  <p class="text-textgray mx-5"> Op jezelf wonen, hoe werkt dat? Hoe duur is een huurwoning? En wat heb je eigenlijk nodig om op jezelf te kunnen wonen? 
    Dit leren de leerlingen van het VO en MBO van gastdocenten van Accolade Woningcorporatie, Thuiscorporatie Elkien en Dynhus. 
    <br><br>
    De gastdocenten van deze woningcorporaties staan in de startblokken om aan de hand van een interactief 
    programma jongeren mee te nemen in hun reis om huurder te worden. 
  </p>
  
  <div class="mt-6 mb-10 mx-8 content-center text-center">
    <div class="relative">
      <h1 class="text-primary font-extrabold text-3xl italic"> Get your money up, <br> not your funny up </h1>
      <p class="text-primary opacity-60 absolute -top-5 -left-2 text-6xl italic font-extrabold">"</p>
      <p class="text-primary opacity-60 absolute -bottom-5 -right-2 text-6xl rotate-180 italic font-extrabold">"</p>
    </div>
  </div>
  
  <div id="opdrachten" class="py-10 px-5 bg-primary-light">
    <h2 class="mb-2 font-bold text-primary"> OPDRACHTEN </h2>
    <p class="text-textgray text-base"> 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  
    <div class="mt-5 relative h-40 overflow-hidden rounded-t-lg">
      <a href="/prijswijs">
        <img src="assets/images/Background.jpg" alt="Prijswijs" class="duration-75 hover:scale-105">
        <p class="text-white bg-primary bg-opacity-70 px-5 py-1 font-bold absolute bottom-0 w-full"> PrijsWijs </p>
      </a>
    </div>
    <div class="mt-10 relative h-40 overflow-hidden rounded-t-lg">
      <a href="/valt-het-kwartje">
        <img src="assets/images/Background.jpg" alt="Prijswijs" class="duration-75 hover:scale-105">
        <p class="text-white bg-primary bg-opacity-70 px-5 py-1 font-bold absolute bottom-0 w-full"> Valt Het Kwartje? </p>
      </a>
    </div>
  </div>
  
  <div id="meer-info" class="py-10 px-5">
    <h2 class="mb-2 font-bold text-primary"> MEER INFO </h2>
    <p class="text-textgray text-base"> 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      <br><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      <br><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
  